.Home {
    .intro__card {
        max-width: 40rem;
        margin-left: -3rem;
    }

    .about-me-info {
        max-width: 23rem;
        margin-right: 3rem;
    }
    
    img {
        max-width: 325px;
        border-radius: .5rem;
    }
}