@import url(../../assets/styles/variables.scss);

.Card {
    background-color: var(--liliac);
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;

    h1 {
        margin: .25rem 0;
        font-size: 1.75rem;
    }

    h3 {
        margin: 0;
    }
}