.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    height: 1.5rem;
    background: linear-gradient(to right, #e6cbff, #eecbff, #cbceff 60%);

    a {
        margin: 0 1rem;
    }

    .main-nav {
        display: flex;
        list-style: none;
    }
}