@import url(../../assets/styles/variables.scss);

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    height: 1.75rem;
    background: var(--liliac-to-blue);
}