html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    
    background-color: #fff4fd;
    font-family: 'Merriweather', Sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vert-spacing {
    margin: 3rem 0;
}