:root {
    --bg-color: #fff4fd;

    --liliac: #dac4fe;
    --liliac-to-blue: linear-gradient(to right, #e6cbff, #eecbff, #cbceff 60%);
    --liliac-to-green: linear-gradient(to right, #cccbff 50%, #cbecff, #cbffe7);
}